# Archivos de Visual Studio
.vs/
*.user
*.suo
*.cache
*.userosscache
*.userprefs

# Binarios y builds
bin/
obj/
Debug/
Release/

# Archivos de configuración locales
appsettings.Development.json

# Archivos temporales
*.log
*.tmp
*.vsidx