@model Prueba_Yefrin.Models.HistorialSalario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HistorialSalario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHistorial" />
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label"></label>
                <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
                <span asp-validation-for="EmpleadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioAnterior" class="control-label"></label>
                <input asp-for="SalarioAnterior" class="form-control" />
                <span asp-validation-for="SalarioAnterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioNuevo" class="control-label"></label>
                <input asp-for="SalarioNuevo" class="form-control" />
                <span asp-validation-for="SalarioNuevo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCambio" class="control-label"></label>
                <input asp-for="FechaCambio" class="form-control" />
                <span asp-validation-for="FechaCambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioRegistroId" class="control-label"></label>
                <select asp-for="UsuarioRegistroId" class="form-control" asp-items="ViewBag.UsuarioRegistroId"></select>
                <span asp-validation-for="UsuarioRegistroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreadoEn" class="control-label"></label>
                <input asp-for="CreadoEn" class="form-control" />
                <span asp-validation-for="CreadoEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
